<div>
    <form method="POST" action="/api/faces/" enctype="multipart/form-data" >
        <input name="faceimage" type="file" id="fileUpload" />
        <input type="submit" value="Submit" />
    </form>
</div>